<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/home">Cours en ligne</a>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formation">Formation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/panier">
            Panier<span class="label label-danger">{{ p }}</span></a
          >
        </li>
        <li class="nav-item" *ngIf="role">
          <a class="nav-link" routerLink="/listecommande">Liste Commandes</a>
        </li>
        <li class="nav-item" *ngIf="role">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle
              >Ajouter</a
            >
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="dropdown-primary"
            >
              <a class="dropdown-item" routerLink="/addvideo">Ajouter Video</a>
              <a class="dropdown-item" routerLink="/addformation"
                >Ajouter Formation</a
              >
            </div>
          </div>
        </li>
        <li class="nav-item" *ngIf="userconnected; else boutonConnecter">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle
              >Bonjour {{ userconnected }}</a
            >
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="dropdown-primary"
            >
              <a class="dropdown-item">Profile</a>
              <a class="dropdown-item" type="submit" (click)="logout()"
                >Déconnexion</a
              >
            </div>
          </div>
        </li>
        <ng-template #boutonConnecter>
          <li class="nav-item" class="pull-left">
            <button
              type="button"
              routerLink="/login"
              class="btn btn-outline-neutral btn-round"
            >
              <i class="nc-icon nc-single-02"></i> Connexion
            </button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link active" aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/formation" class="nav-link">Formation</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Bonjour {{ username }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a
              class="dropdown-item nav-link text-decoration"
              type="submit"
              (click)="logout()"
              >Logout</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </header>
</div>
 -->
