<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      routerLink="/home"
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        text-dark text-decoration-none
      "
    >
      <span class="fs-4">Cours en ligne</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/formation">Formation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/panier"
          >Panier <span class="label label-danger">{{ p }}</span></a
        >
      </li>
      <li class="nav-item" *ngIf="role">
        <a class="nav-link" routerLink="/listecommande">Liste Commandes</a>
      </li>
      <li class="nav-item" *ngIf="role">
        <div ngbDropdown class="d-inline-block dropdown">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Ajouter</a>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-primary"
          >
            <a class="dropdown-item" routerLink="/addvideo">Ajouter Video</a>
            <a class="dropdown-item" routerLink="/addformation"
              >Ajouter Formation</a
            >
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="userconnected; else boutonConnecter">
        <div ngbDropdown class="d-inline-block dropdown">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle
            >Bonjour {{ userconnected }}</a
          >
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-primary"
          >
            <a class="dropdown-item">Profile</a>
            <a class="dropdown-item" type="submit" (click)="logout()"
              >Déconnexion</a
            >
          </div>
        </div>
      </li>
      <ng-template #boutonConnecter>
        <li class="nav-item" class="pull-left">
          <button
            type="button"
            routerLink="/login"
            class="btn btn-outline-neutral btn-round"
          >
            <i class="nc-icon nc-single-02"></i> Connexion
          </button>
        </li>
      </ng-template>
    </ul>
  </header>
</div>
