<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/login-image.jpg')"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Réinitialiser votre mot de passe</h3>
            <div class="social-line text-center">
              <a
                href="#pablo"
                class="btn btn-neutral btn-facebook btn-just-icon"
              >
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
              <a
                href="#pablo"
                class="btn btn-neutral btn-twitter btn-just-icon"
              >
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div *ngIf="!valid">
              Token validation failed, if the token has expired you can get a
              new one at the
              <a routerLink="/forgot-password">Mot de passe oublié!</a> page.
            </div>
            <form
              *ngIf="valid"
              [formGroup]="resetform"
              (ngSubmit)="onSubmit()"
              class="register-form"
            >
              <div class="form-group">
                <label>Mot de passe</label>
                <div class="input-group form-group-no-border">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                  />
                </div>

                <div
                  *ngIf="
                    controls.password.hasError('required') &&
                    controls.password.touched
                  "
                >
                  Ce champs est obligatoire
                </div>
                <div
                  *ngIf="
                    controls.password.hasError('minlength') &&
                    controls.password.touched
                  "
                >
                  Ce champs doit contenir plus que 6 caractères
                </div>
              </div>
              <div class="form-group">
                <label>Confirmer mot de passe</label>
                <div class="input-group form-group-no-border">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && controls.confirmPassword.errors
                    }"
                  />
                </div>

                <div
                  *ngIf="
                    controls.confirmPassword.hasError('required') &&
                    controls.confirmPassword.touched
                  "
                >
                  Ce champs est obligatoire
                </div>
                <div
                  *ngIf="
                    controls.confirmPassword.errors.passwordValidity &&
                    controls.confirmPassword.touched
                  "
                >
                  Le mot de passe n'est pas la même
                </div>
              </div>
              <div class="text-center form-group">
                <button
                  [disabled]="!resetform.valid"
                  type="submit"
                  class="btn btn-danger btn-block btn-round"
                >
                  Valider
                </button>
                <a routerLink="../login" class="btn btn-link btn-danger"
                  >Annuler</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
