<app-header-not-transparent></app-header-not-transparent>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <img
        src="http://localhost:4000/uploads/{{ detailsformation.imagef }}"
        class="card-img-top"
        alt="..."
      />
      <h5 class="card-title">{{ detailsformation.nom }}</h5>
      <p class="card-text">{{ detailsformation.prix }}€</p>
      <p class="card-text">{{ detailsformation.nomformateur }}</p>
      <div *ngFor="let v of detailsformation.listVideo">
        <video width="320" height="240" controls>
          <source
            src="http://localhost:4000/uploads/{{ v.lienVideo }}"
            class="card-img-top"
            type="video/mp4"
          />
          Browser not supported
        </video>
        <p>
          <button
            type="button"
            class="btn btn-warning btn-round"
            (click)="upvideo(v._id)"
          >
            Modifier
          </button>
          <button
            type="button"
            class="btn btn-danger btn-round"
            (click)="delvideo(v._id)"
          >
            Supprimer
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
