<app-header-not-transparent></app-header-not-transparent>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let f of formation; let i = index">
    <div class="card">
      <img
        src="http://localhost:4000/uploads/{{ f.imagef }}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ f.nom }}</h5>
        <p class="card-text">
          {{ f.description }}
        </p>
        <p class="card-text">
          {{ f.dure }}
        </p>
        <p class="card-text">{{ f.prix }}€</p>
        <p class="card-text">{{ f.nomformateur }}</p>
        <p>
          <button
            type="submit"
            class="btn btn-primary btn-round"
            (click)="detailFormation(f._id)"
          >
            <!-- -->
            Détails
          </button>
          <button
            type="button"
            class="btn btn-warning btn-round"
            (click)="upformation(f._id)"
          >
            Modifier
          </button>
          <button
            type="button"
            class="btn btn-danger btn-round"
            (click)="delformation(f._id)"
          >
            Supprimer
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
