<app-header-not-transparent></app-header-not-transparent>
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let f of formation">
      <div class="card h-100">
        <video controls *ngFor="let v of f.listVideo">
          <source
            src="http://localhost:4000/uploads/{{ v }}"
            class="card-img-top"
            type="video/mp4"
          />
          Browser not supported
        </video>

        <div class="card-body">
          <h5 class="card-title">{{ f.nom }}</h5>
          <p class="card-text">
            {{ f.dure }}
          </p>
          <p class="card-text">
            {{ f.description }}
          </p>
          <p class="card-text">{{ f.prix }}€</p>
        </div>
      </div>
    </div>
  </div>
</div>
